@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
/*-----------------
        MOBILE
-------------------*/
body
{
    margin: auto;
    
}

.padded-left { padding-left: 15px;}

.Logo, .title, #footer-title
{
    font-family: 'Shrikhand', 'Roboto';
}
*
{
    font-family: 'Roboto';
}

/*------------------------
        SPINNER
--------------------------*/

.loading 
{
    transform: scale(0);
    width: 100%;
    height: 275%;
    background-color: white;
    position: absolute;
    animation: itemAppear 4s linear 1;
    animation-fill-mode: unset;
}
@keyframes itemAppear {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        z-index: -10;
        transform: scale(0);
    }
  }
  
.lds-dual-ring 
{
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 115px;
    top: 280px;
}
.lds-dual-ring:before 
{
    transform: scale(0);
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #9356DC #99E2D0 #FF79DA #99E2D0;
    animation: lds-dual-ring 3s linear 1;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    
    100% {
        transform: rotate(360deg);
        opacity: 0;
        display: none;
    }
}


/*-------------------------
        header
---------------------------*/
header
{
    display: flex;
    justify-content: center;
}
#logo
{
    margin: 10px 0 10px 0;
} 

/*-------------------------
        location
---------------------------*/
#location
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    border: 1px solid rgba(233, 233, 233, 0.822);
    box-shadow: inset 0px 2px #dedede;
}
#locationText
{
    margin-left: 10px;
    font-size: 16px!important;
    font-weight: 600!important;
    color: #4b4b4b;
}

/*-------------------------
        First Section
---------------------------*/
#flex
{
    justify-content: center;
}
#main-section
{
    
    width: 100%px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}

#explorer
{
    width: 100%;
    display: flex;
    justify-content:center;
}
#explorer-button
{
    width: 60%;
    height: 40px;
    margin: 30px 0 35px 0 ;
    border-radius: 20px;
    border: none;
    color: white;
    background: linear-gradient(#FF79DA ,#9356DC);
    font: 13px 'Roboto';
    box-shadow: 0px 0px 5px #878686;
}
#explorer-button:hover
{
    box-shadow: 0px 0px 11px 5px #878686
}
#mainText
{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
#secondText
{
    text-align: center;
    color: gray;
    margin: 5px;
}

/*-------------------------
        Filter
---------------------------*/
#how-it-works
{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 30px 0 50px 0;
}

#explains
{
    width: 90%;
}

#title-explain { margin: 0 0 30px 0; }

.individual-explain
{
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    box-shadow: 0 0 10px #dddddd;
    border-radius: 15px;
    border: none;
    margin: 20px 0 0 10px;
}

.ico-explain
{
    display: inline-flex;
    margin: 0 0 0 25px;
    color: rgb(148, 148, 148);
}

.ico-explain-store { color: #9356DC;}
#individual-explain-restaurant {     background-color: rgb(255 121 218 / 13%);}

.text-explain
{
    margin-left: 15px;
}

.ico-explain-number
{
    display: flex;
    flex-flow: nowrap;
    border: 1px solid #d9d9d9;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #9356DC;
    color: white;
    padding: 2px;
    margin-left: -15px;
}
.explain-number
{
    margin: 0;
    padding: 3px 0 0 8px;
}

/*-------------------------
        Restaurant
---------------------------*/
#restaurant
{
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
    justify-content: center;
    flex-flow: wrap;
}
.title-width { width: 100%;}
.restaurant-card a
{
    text-decoration: none;
    color: black;
}
#restaurant-title,
.restaurants
{
    width: 90%;
}
.restaurants
{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.figure-restaurant { margin: 0px;}
.card-title,
.card-location
{
    margin: 0 0 0 10px;
}
.card-title { width: 170px;}
.restaurant-card
{
    width: 90%;
    background-color: white;
    border-radius: 15px;
    margin: 0 0 15px 0;
}

.card-info { width: 70%; }

.restaurant-card img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 130px;
}

.card-heart { margin: 0 0 0 30px;}
.detail-restaurant
{
    margin: 10px 0 15px 5px;
    display: flex;
    align-items: center;
}
.fa-heart {
    background-color: #FFF;
    color: white;
    -webkit-text-stroke: 1px black;
}
.fa-heart::before {
    content: "\f004";
    font-weight: bold;
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    color: #FF79DA;
    cursor: pointer;
}

/*-------------------------
        Footer
---------------------------*/
footer
{
    display: flex;
    justify-content: center;
    align-items: inherit;
    background-color: #353535!important;
    min-height: 190px;
}
#footer
{
    width: 90%;
    color: white;
}

#footer-title { font-weight: 400;}

.footer-icon { margin-right: 10px;}

.footer-flex
{
    display: inline-flex;
    align-items: center;
}
.footer-down h3
{
    font-weight: normal!important;
}
.footer-down a 
{
    text-decoration: none;
    color: white;
}